@media all and (min-width: 320px) and (max-width: 1599px) {
    body,
    .header,
    .about,
    .map {
        width: 100%;
    }

    .all__products {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

@media all and (min-width: 1200px) and (max-width: 1599px) {

    .ul__nav {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }

    .header__nav {
        width: 100%;
    }

    .blog__wrapper {
        margin-bottom: 14px;
    }

    .header__login {
        width: 75%;
        margin: 0 auto;
        padding: 0 12.5% 0 12.5%;
    }

    .banner {
        padding: 14% 0 17.9% 0;
    }

    .video__proj {
        width: 100%;
    }

    .comments {
        width: 100%;
    }

    .newarr2 {
        width: 100%;
    }

    .arrivals-bottom {
        width: 100%;

    }

    .arrivals-top {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .all__products {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0;
        margin-top: 13px;
    }

    .ul__prod {
        width: 1200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .blog__wrapper {
        width: 100%;
    }

    /*соцсети в футере*/
    .social {
        width: 86.5625%;
        padding-right: 13.4375%;
    }
}

@media all and (min-width: 850px) and (max-width: 1199px) {
    .header__menu{
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        padding: 10px 0 0 0 ;
    }

    .blog__wrapper {
        margin-bottom: 14px;
    }

    .blog__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }

    .header__menu,
    .header__nav,
    .ul__nav,
    .category,
    .products__prod {
        width: 100%;
    }
    .products__prod {
        padding-left: 0;
    }

    .blog {
        margin-bottom: 30px;
    }

    .social {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 0;
    }
    .header__login {
        width: 75%;
        margin: 0 auto;
        padding: 0 12.5%;
    }
    .wrapper {
        width: 100%;
    }
    .social {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media all and (min-width: 320px) and (max-width: 460px) {
    .map__address {
        padding-left: 0;
    }
}

@media all and (min-width: 461px) and (max-width: 849px) {
    .map__address {
        padding-left: 8%;
    }
}


@media all and (min-width: 320px) and (max-width: 849px) {
    .ul__prod,
    .products__prod,
    .header__login,
    .header__menu,
    .new2, .new5,
    .page:not(.show-mob)
    {
        display: none;
    }

    .button-mob {
        width: 93.75%;
        height: 90px;
        font: 700 30px/42px Ubuntu;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #4ab6b6 url(../images/all-menu.png) right no-repeat;
    }

    .blog__wrapper {
        margin-bottom: 14px;
    }

    .header__menu {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        padding: 10px 0 0 0 ;
    }

    .blog,
    .page__prod {
        width: 93.75%;;
        height: auto;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .img__blog ,
    .img__prod {
        width: 88.3%;
        min-height: 530px;
        background-size: cover;
        margin: 0 auto;
    }
    .stars {
        padding-left: 4%;
    }
    .page > span {
        padding-left: 4%;
    }
    .price {
        width: 90%;
        padding:  6px 0 0 4%;
    }

    .img__blog {
        margin-top: 35px;
    }

    .blog__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }
    .banner {
        padding: 28% 0 31.9% 0;
    }

    .header__menu,
    .header__nav,
    .ul__nav,
    .category,
    .persons__comments,
    .one__persons
    {
        width: 100%;
    }

    .header__nav {
        padding: 0;
    }

    .com,
    .comments > textarea {
        width: 90%;
    }
    .ul__nav {
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .category {
        width: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 165px;
        font: 400 24px/42px Ubuntu;
    }

    .social {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 0;
    }

    .img_menu {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;

    }

    .img-cart,
    .img__nav {
        margin-right: 40px;
        width: 28px;
    }
    .page {
        padding-left: 0;
    }

    .menu__nav {
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
        width: auto;
    }
    .header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .mobile__header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 3% 0 3% 0;
    }

    .wrapper {
        width: 100%;
    }
    .social {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .newarr {
        width: 100%;
    }
    .new__Arr {
        width: auto;
        padding: 0 0 34% 0;
        height: auto;
        background-size: cover;
    }
    .newarr2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%;
    }
    .arrivals-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .new__Arr2 {
        height: auto;
        width: auto;
    }
    .new3,.new4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-size: cover;
        padding: 0 17% 33% 0;
    }
    .chairArr {
        background-size: contain;
        height: auto;
        width: auto;
        padding: 0 50% 61% 0;
        margin-bottom: 30px;
    }

    .all__products {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .map__address {
        margin-left: 0;
        width: 100%;
        height: 280px;
        padding-top: 45px;
    }
    .map {    background: #f6f6f6 url(../images/map.png) bottom no-repeat;
        height: 480px;
    }
    .address {background: #f6f6f6;
        font-size: 22px;
        width: 87%}

    .address > img:first-child {
        width: auto;
        height:  10.7%;
        margin: 0 40% 23px 20px;
    }

}


