@media all and (min-width: 320px) and (max-width: 1599px) {
    body,
    .about,
    .map {
        width: 100%;
    }
}

@media all and (min-width: 1200px) and (max-width: 1599px) {
    .ul__nav {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .blog__wrapper {
        margin-bottom: 14px;
    }

    .login {
        padding: 0 12.5%;
    }

    .banner {
        padding: 14% 0 17.9% 0;
    }

    .newarr2,
    .arrivals-bottom,
    .header__nav,
    .ul__nav,
    .video__proj,
    .blog__wrapper
    {
        width: 100%;
    }

    .social {
        width: 86.5625%;
        padding-right: 13.4375%;
    }
}

@media all and (min-width: 850px) and (max-width: 1199px) {
    .blog__wrapper {
        margin-bottom: 14px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }

    .header__menu,
    .header__nav,
    .ul__nav,
    .category,
    .wrapper {
        width: 100%;
    }

    .comments {
        padding-left: 1%;
        width: 99%;
    }

    .products__prod {
        padding-left: 0;
        max-width: 910px;
        width: 100%;
    }

    .blog {
        margin-bottom: 30px;
    }

    .social {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 0;
    }

    .login {
        padding: 0 12.5%;
    }

    .all__products {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .new2 {
        background: url(../images/newarr/lampnew.png) right top no-repeat;
    }

    .new__Arr {
        width: 100%;
    }

    .chairArr,
    .newarr {
        width: 49%;
    }

    .arrivals-top,
    .newarr2{
        justify-content: space-around;
    }

    .new5 {
        width: 49%;
    }

    .new3,
    .new4 {
        width: 24%;
    }

    .video-img {
        width: 100%;
    }

    .video-image {
        width: 30%;
        align-items: center;
    }

    .video__main {
        width: 65%;
    }

    .plyr video,
    .plyr audio {
        width: 96% !important;
    }
}

@media all and (min-width: 461px) and (max-width: 849px) {
    .map__address {
        padding-left: 8%;
    }
    .category {
        font: 400 24px/42px Ubuntu;
    }
    .cart,
    .img__nav {
        margin-right: 40px;
    }

}


@media all and (min-width: 320px) and (max-width: 849px) {
    .address__title {
        margin: 0 auto;
    }
    .logo {
        width: auto;
        height: 100%;
    }
    .ul__prod,
    .products__prod,
    .login,
    .header__menu,
    .new2, .new5,
    .page:not(.show-mob)
    {
        display: none;
    }

    .comments {
        padding-left: 1%;
        width: 99%;
    }

    .button-mob {
        width: 93.75%;
        height: 90px;
        font: 700 30px/42px Ubuntu;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #4ab6b6 url(../images/all-menu.png) right no-repeat;
    }
    .all__products {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .blog__wrapper {
        margin-bottom: 14px;
    }

    .header__menu {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        padding: 10px 0 0 0 ;
    }

    .blog,
    .page__prod {
        width: 93.75%;;
        height: auto;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .img__blog ,
    .img__prod {
        width: 88.3%;
        min-height: 530px;
        background-size: cover;
        margin: 6%;
    }
    .stars {
        padding-left: 4%;
    }
    .page > span {
        padding-left: 4%;
    }
    .price {
        width: 90%;
        padding:  6px 0 0 4%;
    }

    .blog__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }
    .banner {
        padding: 28% 0 31.9% 0;
    }

    .header__menu,
    .header__nav,
    .ul__nav,
    .category,
    .persons__comments,
    .one__persons
    {
        width: 100%;
    }

    .header__nav {
        padding: 0;
    }

    .com,
    .comments > textarea {
        width: 90%;
    }
    .ul__nav {
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .category {
        width: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 165px;
    }

    .social {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 0;
    }

    .img-menu {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

    .cart,
    .img__nav {
        width: 28px;
    }
    .page {
        padding: 0 0 32px 0;
    }

    .menu__nav {
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
        width: auto;
    }
    .header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .header_m{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 3% 0 3% 0;
    }

    .wrapper {
        width: 100%;
    }

    .newarr {
        width: 100%;
    }
    .new__Arr {
        width: auto;
        padding: 0 0 34% 0;
        height: auto;
        background-size: cover;
    }
    .newarr2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%;
    }
    .arrivals-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .new__Arr2 {
        height: auto;
        width: auto;
    }
    .new3,.new4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-size: cover;
        padding: 0 17% 33% 0;
    }
    .chairArr {
        background-size: contain;
        height: auto;
        width: auto;
        padding: 0 50% 61% 0;
        margin-bottom: 30px;
    }

    .all__products {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .map__address {
        margin-left: 0;
        width: 100%;
        height: 280px;
        padding-top: 45px;
    }
    .map {    background: #f6f6f6 url(../images/map.png) bottom no-repeat;
        height: 480px;
    }
    .address {background: #f6f6f6;
        font-size: 22px;
        width: 87%}

    .address > img:first-child {
        width: auto;
        height:  10.7%;
        margin: 0 21% 23px 20px;
    }
    .video-image {
        flex-direction: row;
        margin-bottom: 10px;
    }
    .video__proj {
        flex-direction: column-reverse;
        padding:  19px 2%;
        width: 95%;
    }

    .video-img {
        width: 49%;
    }

    .video-image {
        width: 100%;
        align-items: center;
        margin-right:  0;
    }

    .video__main {
        width: 100%;
    }

    .plyr video,
    .plyr audio {
        width: 96% !important;
height: auto !important;
    }
}


@media all and (min-width: 320px) and (max-width: 460px) {
    .map__address {
        padding-left: 0;
    }

    .like__video {
        margin-right: 20px;
    }
    .category {
        font: 400 18px/42px Ubuntu;
    }
    .img__nav {
        margin: 0;
    }
}