body {
    max-width:100%;
    font: 14pt "Ubuntu";
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

.main_hover:hover {
    color: #4ab6b6;
}

.img_hover:hover,
.main_hover:hover,
.signup_href:hover,
.login_href:hover{
    cursor: url("../images/hand.png"), pointer ;
}
.header {
    width: 1600px;
    font: 14pt "Ubuntu";
    display: flex;
    flex-direction: column;
}

.signup_href {
    display: block;
    margin: 0 17px 0 10px;
}

.login_href {
    display: block;
    margin: 0 10px 0 29px;
}

.selector {
    border: 0;
    width: 100px;
    height: 49px;
    background: #3b3b3b url("..//select.png") no-repeat center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #f5f5f5;
    font: 500 14px/42px Ubuntu;
    text-transform: uppercase;
    margin: -1px -35px 0 30px;
    padding: 0;
}

.sign {
    color: #aaaaaa;
    font: 500 14px/42px Ubuntu;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: 200px;
    display: flex;
    height: 49px;
    margin: 0 29px;
    padding-top: 2px;
}
.sign>a{
    font: 500 14px/42px Ubuntu;
    color: #f5f5f5;
    text-transform: uppercase;
}

.login {
    background: #3b3b3b;
}

.title__arrivals {
    padding: 15px 8px 0 0;
}

.header__login{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 1200px;
    height: 49px;
    margin: 0 auto;
    padding: 0 184px 0 216px;
}

.category{
    list-style-type: none;
    font: 400 14px/42px Ubuntu;
    color: #3b3b3b;
    text-transform: uppercase;
}

.category > img {
    padding: 0 9px 0 0 ;
}

.category_hover:hover {
    background-color: #4ab6b6;
    cursor: url("../images/hand.png"), pointer ;
    color: white;
}


.main{
    list-style-type: none;
    color: #3a3a3a;
    font: 500 14px/42px Ubuntu;
    text-transform: uppercase;
}

.ul__nav__menu {
    display: flex;
    justify-content: space-between;
    width: 670px;
    padding: 0 0 0 66px;
}

.menu__nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

video {
    height: 360px;
    width: 780px;
    margin: 0 0 0 10px;
}

.img__nav {
    margin: 0 20px 0 48px;
}

.ul {
    display: inline-flex;
}

.ul__nav {
    margin: 0;
    padding: 0;
}

.banner {
    background: #3b3b3b url("..//background.png") bottom no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14% 0 17.9% 0;
}

.header__menu{
    display: flex;
    width: 1170px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0 0 0 ;
}


.category {
    text-transform: uppercase;
    width: 193px;
    height: 100px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 0 0 0 ;
}

.banner>H1{
    font: 300 36px/42px Ubuntu;
    color: white;
    text-transform: uppercase;
    letter-spacing: 7.2px;
}

.button {
    font: 700 16px/42px Ubuntu;
    color: #ffffff;
    background-color: #4ab6b6;
    text-transform: uppercase;
    border: 0;
}

.button_hover:hover{
    background-color: #4ab6b6;
    cursor: url("../images/hand.png"), pointer;
}

.banner_button {
    width: 250px;
    height: 50px;
}

.prod {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font:  400 14px/42px Ubuntu;
    color:  #3b3b3b;
    align-items: center;
}

.prod-li {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font:  400 14px/42px Ubuntu;
    color:  #3b3b3b;
    align-items: center;
}

.prod > img {
    width: auto;
    height: 30px;
}

ul__prod {
    display: flex;
    justify-content: space-between;
    width: 830px;
}

.title-span {
    color: #4ab6b6;
}

.title__banner {
    margin-left: 5px;
    margin-bottom: 21px;
    margin-top: 28px;
}
.title {
    font:  700 36px/42px Ubuntu;
    text-transform: uppercase;
    color: #3a3a3a;
    margin-left: 5px;
}

.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1170px;
}

.button_s {
    width: 110px;
    height: 40px;
    background-color: #3b3b3b;
    font: 700 14px/42px Ubuntu;
}
.chair {
    background: url("../products/chair.png") center no-repeat;
}

.lamp {
    background: url("../products/lamp.png") center no-repeat;
}

.pillow {
    background: url("../products/pillow.png") center no-repeat;
}

.alarm {
    background: url("../products/alarm.png") center no-repeat;
}

.shelf {
    background: url("../products/shelf.png") center no-repeat;
}

.chair_green {
    background: url("../products/chair_green.png") center no-repeat;
}

.mat {
    background: url("../products/mat.png") center no-repeat;
}

.plate {
    background: url("../products/plate.png") center no-repeat;
}

.vase {
    background: url("../products/vase.png") center no-repeat;
}

.new1 {
    background: url("../newarr/set.png") center no-repeat;
}

.new2 {
    background: url("../newarr/lampnew.png") center no-repeat;
}

.new3 {
    width: 270px;
    background: url("../newarr/clock.png") center no-repeat;
}

.new4 {
    width: 270px;
    background: url("../newarr/kettle.png") center no-repeat;
}

.new5 {
    width: 570px;
    background: url("../newarr/bed.png") center no-repeat;
}

.chairArr {
    background: url("../newarr/chair.png") center no-repeat;
    width: 570px;
    height: 570px;

    display: flex;
    flex-direction: column;
}

.new__Arr {
    width: 570px;
    height: 270px;
    display: flex;
    flex-direction: column;
}

.new__Arr2 {
    height: 270px;
    display: flex;
    flex-direction: column;
}

.newarr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video__proj {
    width: 100%;
    background: #f0f0f0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 19px 0;
    margin: 0 0 23px 0;
}
.comments {
    width: 100%;
}
.vid-comm {
    font: 400 14px/32px Lato;
    color: #8b8b8b;

}
.video-name {
    font: 700 16px/30px Ubuntu;
    color: #3b3b3b;
    text-transform: uppercase;
}
.video-image {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 10px 0 0 ;
}
.vid__top {
    background: url("../images/top.png") center no-repeat;
}
.video-img {
    width: 330px;
    height: 170px;
}
.com {
    width: 800px;
    background: #f0f0f0;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.com > p {
    opacity: 0.9;
    color: #3b3b3b;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;
}

.vid__bottom {
    background: url("../images/bottom.png") center no-repeat;
}
.map {
    width: 1600px;
    height: 150px;
    background: url("map.png") center no-repeat;
}
.newarr2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.arrivals-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 29px 0 30px 0;
}
.arrivals-top {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.image-prod {
    width: 330px;
    height: 330px;
}

.page {
    width: 350px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 20px 0 20px 20px;
    margin: 0 0 30px 0;
}

.page_hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.page > span {
    font: 400 18px/24px Ubuntu;
}


.all__products {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 15px 0 0 0;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    padding: 6px 0 0 0 ;
}

.arr__price {
    color: #3a3a3a;
    font: 700 30px/24px Ubuntu;
    padding: 6px 0 0 0;
}

.stars {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px 0 0 0;
}


.stars > img {
    margin: 14px 2px 6px 0;
}

.price>span {
    color: #3a3a3a;
    font: 700 30px/24px Ubuntu;
    padding: 6px 0 0 0;
}

.products__prod {
    width: 910px;
    padding-left: 10px;
}

.ul__prod {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.button_see {
    width: 250px;
    height: 50px;
    background-color: #3b3b3b;
}

.about {
	display: flex;
	align-items: center;
	flex-direction: column;
}