input, textarea, select {
    -webkit-appearance: none;
}

body {
    width: 1600px;
    font: 14pt Ubuntu;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main_hover:hover {
    color: #4ab6b6;
}

.img_hover:hover,
.signup_href:hover,
.login_href:hover,
.main_hover:hover{
    cursor: url(../images/hand.png), pointer ;
}

.img_menu {
    display: none;
}

.header {
    width: 1600px;
    font: 14pt Ubuntu;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.signup_href {
    display: block;
    margin: 0 17px 0 10px;
}

.login_href {
    display: block;
    margin: 0 10px 0 29px;
}

.selector {
    border: 0;
    width: 70px;
    height: 47px;
    background: #3b3b3b url(../select.png) no-repeat right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #f5f5f5;
    font: 500 14px/42px Ubuntu;
    text-transform: uppercase;
    padding: 0 0 2px 29px;
    margin-right: 26px;
}

.select {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.pag {
    width: 178px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pag >a {
    font: 400 14px/26px Ubuntu;
    color: #3b3b3b;
    margin-top: 29px;
}

.pag >a:hover{
    color: #6abbb5;
    cursor: url(../images/hand.png), pointer ;
}

.pag >a:active {
    font-weight: 700;
    color: #6b6b6b;
}
.sign {
    color: #aaaaaa;
    font: 500 14px/42px Ubuntu;
    text-transform: uppercase;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 49px;
    margin: 0 29px;
    padding: 2px 0 0 0;
}
.sign>a{
    font: 500 14px/42px Ubuntu;
    color: #f5f5f5;
    text-transform: uppercase;
}

.login {
    background: #3b3b3b;
}

.title__arrivals {
    padding: 15px 8px 0 0;
}

.title__blog {
    padding: 9px 8px 0 0;
}

.header__login{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 1200px;
    height: 49px;
    margin: 0 auto;
    padding: 0 184px 0 216px;
}

.category{
    list-style-type: none;
    font: 400 14px/42px Ubuntu;
    color: #3b3b3b;
    text-transform: uppercase;
}

.category > img {
    padding: 0 9px 0 0 ;
}
.button-mob {
    display: none;
}
.category_hover:hover {
    background-color: #4ab6b6;
    cursor: url(../images/hand.png), pointer ;
    color: white;
}


.main{
    list-style-type: none;
    color: #3a3a3a;
    font: 500 14px/42px Ubuntu;
    text-transform: uppercase;
}

.ul__nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 670px;
    padding: 0 0 0 66px;
}

.menu__nav {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

video {
    height: 360px;
    width: 780px;
    margin: 0 0 0 10px;
}

.img__nav {
    margin: 0 20px 0 48px;
}

.ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}


.prod_hover:hover{
    color: #4ab6b6;
    cursor: url(../images/hand.png), pointer ;
}
.prod_hover:active {
    font-weight: 700;
    color: #4ab6b6;
    cursor: url(../images/hand.png), pointer;
}

.ul__nav {
    margin: 0;
    padding: 0;
}

.banner {
    background: #3b3b3b url(../background.png) bottom no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 14% 0 17.9% 0;
}

.header__menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1170px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0 0 0 ;
}


.category {
    text-transform: uppercase;
    width: 193px;
    height: 100px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__nav {
    width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 10px 0 0 0 ;
}

.banner>H1{
    font: 300 36px/42px Ubuntu;
    color: white;
    text-transform: uppercase;
    letter-spacing: 7.2px;
    text-align: center;
}

.button {
    font: 700 16px/42px Ubuntu;
    color: #ffffff;
    background-color: #4ab6b6;
    text-transform: uppercase;
    border: 0;
}

.button_hover:hover{
    background-color: #4ab6b6;
    cursor: url(../images/hand.png), pointer;
}

.banner_button {
    width: 250px;
    height: 50px;
}

.prod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-transform: uppercase;
    font:  400 14px/42px Ubuntu;
    color:  #3b3b3b;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.prod-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-transform: uppercase;
    font:  400 14px/42px Ubuntu;
    color:  #3b3b3b;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.prod > img {
    width: auto;
    height: 30px;
}

.ul__prod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 830px;
}

.title-span {
    color: #4ab6b6;
}

.title__banner {
    margin-left: 5px;
    margin-bottom: 21px;
    margin-top: 28px;
}
.title {
    font:  700 36px/42px Ubuntu;
    text-transform: uppercase;
    color: #3a3a3a;
    margin-left: 5px;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1170px;
}

.button_s {
    width: 110px;
    height: 40px;
    background-color: #3b3b3b;
    padding-top: 0;
    font: 700 14px/42px Ubuntu;
}
.chair {
    background: url(../images/products/chair.png) center no-repeat;
}
.lamp {
    background: url(../images/products/lamp.png) center no-repeat;
}
.pillow {
    background: url(../images/products/pillow.png) center no-repeat;
}
.alarm {
    background: url(../images/products/alarm.png) center no-repeat;
}
.shelf {
    background: url(../images/products/shelf.png) center no-repeat;
}
.chair_green {
    background: url(../images/products/chair_green.png) center no-repeat;
}
.mat {
    background: url(../images/products/mat.png) center no-repeat;
}
.plate {
    background: url(../images/products/plate.png) center no-repeat;
}
.vase {
    background: url(../images/products/vase.png) center no-repeat;
}
.new1 {
    background: url(../images/newarr/set.png) center top no-repeat;
}
.new2 {
    background: url(../images/newarr/lampnew.png) center top no-repeat;
}
.new3 {
    width: 270px;
    background: url(../images/newarr/clock.png) center top no-repeat;
}
.new4 {
    width: 270px;
    background: url(../images/newarr/kettle.png) center top no-repeat;
}
.new5 {
    width: 570px;
    background: url(../images/newarr/bed.png) center top no-repeat;
}

.chairArr {
    background: url(../images/newarr/chair.png) center top no-repeat;
    width: 570px;
    height: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.chair__arr > p {
    position: relative;
    top: 17px;
    left: 20px;
    margin: 0;
}
.chair__arr > span {
    position: relative;
    top: 18px;
    left: 20px;
}

.new__Arr > p {
    padding-top: 18px;
    padding-left: 19px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.new__Arr > span {
    padding-top: 7px;
    padding-left: 20px;
}

.new__Arr2 >p {
    padding-top: 18px;
    padding-left: 19px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.new__Arr2 > span {
    padding-top: 7px;
    padding-left: 20px;
}

.new__Arr {
    width: 570px;
    height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -ms-flex-direction: column;

    flex-direction: column;
}

.new__Arr2 {
    height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.newarr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.video__proj {
    width: 100%;
    background: #f0f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 19px 0;
    margin: 0 0 23px 0;
}

.comments {
    width: 100%;
}

.vid-comm {
    font: 400 14px/32px Lato;
    color: #8b8b8b;
}

.video-name {
    font: 700 16px/30px Ubuntu;
    color: #3b3b3b;
    text-transform: uppercase;
}

.video-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 10px ;
}

.vid__top {
    background: url(../images/top.png) center no-repeat;
}
.video-img {
    width: 330px;
    height: 170px;
}
.com {
    width: 776px;
    background: #f0f0f0;
    height: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 19px 0 0 0;
    padding: 10px 15px 8px 9px;
}

.com > p {
    opacity: 0.9;
    color: #3b3b3b;
    font: 300 14px/10px Ubuntu;
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.vid__bottom {
    background: url(../images/bottom.png) center no-repeat;
}

.newarr2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.arrivals-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 29px 0 30px 0;
}
.arrivals-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.image-prod {
    width: 330px;
    height: 330px;
}

.page {
    width: 350px;
    background: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0 20px 20px;
    margin-bottom: 30px;
}

.page_hover:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.page > span {
    font: 400 18px/24px Ubuntu;
}


.all__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    margin-top: 13px;
}

.price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 330px;
    padding: 6px 0 0 0 ;
}

.arr__price {
    color: #3a3a3a;
    font: 700 30px/24px Ubuntu;
    padding: 6px 0 0 0;
}

.stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0 0 0;
}


.stars > img {
    margin: 14px 2px 6px 0;
}

.price>span {
    color: #3a3a3a;
    font: 700 30px/24px Ubuntu;
    padding: 6px 0 0 0;
}

.products__prod {
    width: 910px;
    padding-left: 6px;
    padding-top: 2px;
}

.ul__prod {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.button_see {
    width: 250px;
    height: 50px;
    background-color: #3b3b3b;
}

.about {
    width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.map {
    width: 1600px;
    height: 150px;
    background: url(../images/map.png) center no-repeat;
}
.address__title {
    margin: 0 auto 29px auto;
}

.map__address {
    width: 370px;
    height: 150px;
    margin-left: 215px;
}

.address {
    background: #fff;
    color: #3b3b3b;
    font: 500 14px Ubuntu;
}

.address > span > img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 10px 0 20px
}
.address >span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
.address > img:first-child {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 60% 23px 20px;
}

.mobile__header {
    display: none;
    width: 100%;
}
.comments > textarea {
    width: 780px;
    height: 50px;
    background-color: #f6f6f6;
    border: 0;
    opacity: 0.8;
    color: #8d8c8d;
    font: 300 14px Ubuntu;
    padding: 19px 0 0 20px;
}

.like__video {
    margin-left: 31px;
    margin-right: 61px;
}

.persons__comments {
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 5px;
}

.blog {
    width: 370px;
    height: 500px;
    background-color: #f6f6f6;
}

.blog > p{
    color: #3b3b3b;
    font: 700 18px Ubuntu;
    margin-left: 20px;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.blog > span {
    margin-left: 20px;
}

.img__blog {
    width: 330px;
    height: 330px;
    margin: 20px 20px 16px 20px;
}

.blog1 {
    background: url(../images/blog1.png) center no-repeat;
}
.blog2 {
    background: url(../images/blog2.png) center no-repeat;
}
.blog3 {
    background: url(../images/blog3.png) center no-repeat;
}
.blog__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 1200px;
    margin-bottom: 44px;
}

.button_m {
    width: 150px;
    height: 40px;
    background-color: #3b3b3b;
    font: 700 14px Ubuntu;
    margin: 7px 0 0 20px;
}
.wrapper__select {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
/*комментарии пользователей*/
.one__persons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.one__persons > div > p {
    color: #020202;
    font: 300 14px/20px Ubuntu;
    padding-right: 30px;
    display: block;
    padding-top: 4px;
    padding-bottom: 2px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
.one__persons >div >span {
    font: 700 14px Ubuntu;
    color: #3b3b3b;
}
.one__persons > img {
    margin-top: 5px;
}


.one__persons >div >a {
    color: #4ab6b6;
    font: 700 14px Ubuntu;
}
.one__persons >div >label {
    color: #8b8b8b;
    padding-left: 13px;
    font: 300 14px Ubuntu Light;
}
.one__persons >div {
    margin-left: 30px;
    margin-bottom: 43px;
}

.one__persons:first-child {
    margin-top: 34px;
}


/*соцсети в футере*/
.social {
    width: 1385px;
    height: 100px;
    background-color: #3b3b3b;
    padding-right: 215px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.social > img {
    margin-left: 20px;
    margin-top: -4px;
}
.social > img:hover {
    cursor: url(../images/hand.png), pointer;
}

/*Видеоплеер*/
.video__main {
    width: 780px;
}

.video .plyr video {
    height: 360px;
}

.video .plyr__play-large {
    background: none;
    border: 2px solid white;
    width: 97px;
    height: 97px;
    margin-left: 4px;
    margin-top: -11px;
}

.video .plyr__play-large svg {
    width: 75px;
    height: 36px;
}

.video .plyr__controls button[data-plyr='fullscreen'],
.video .plyr__controls button[data-plyr='mute'],
.video span.plyr__volume {
    display: none;
}

.video .plyr__controls button[data-plyr='play'] svg {
    width: 22px;
    height: 24px;
}

.video .plyr__controls button[data-plyr='pause'] svg {
    width: 24px;
    height: 24px;
}

.video .plyr--video .plyr__controls {
    left: 8px;
    bottom: 2px;
}

.plyr, .plyr *, .plyr ::after, .plyr ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.video .plyr__time {
    position: absolute;
    bottom: 43px;
    right: 10px;
    font-size: 12px;
    opacity: 0.6;
    color: #ffffff;
    font-weight: 400;
}

.video .plyr__time+.plyr__time::before {
    margin-right: 3px;
}

.video .plyr__time > .plyr__time--current {
    margin-right: 38px;
}

.video .plyr__progress--buffer,
.video .plyr__progress--played,
.video .plyr__volume--display {
    margin: -4px 6px 0;
    width: 97%;
}

.video .plyr__progress--seek {
    margin-bottom: 5px;
}

.video .latest_btn {
    margin-top: 17px;
}
